*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: rgb(34, 34, 34);
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 rgb(57, 110, 255);
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
    transition: 0.2s;
}

nav.menu-lateral:hover{
    width: 300px;
}

.expandir{
    width: 100%;
    padding-left: 10px;
}

.expandir > i{
    color:white;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height:100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: 0.2s;
}

ul li.ativo{
 background-color: rgb(57, 110, 255);   
}

ul li.item-menu:hover{
    background: rgb(57, 110, 255);
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 11px;
}